.second-section {

    &-all {
        margin: 180px 0;
        border: 2px solid $btn-color;
        border-radius: 20px;
        padding: 70px 40px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        #tablet-car {
            box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
            width: 40%;
            transition: .5s;

            &:hover {
                width: 45%;
            }
        }

        p {
            width: 50%;
            font-size: 1rem;
            color: $text-color;
            line-height: 25px;
            text-align: justify;

            span {
                @include h1-text;
                font-weight: 500;
            }
        }
    }
}


@media (max-width: 480px) {

    .second-section {

        &-all {
            margin: 100px 0;
            border: 2px solid $btn-color;
            border-radius: 20px;
            padding: 50px 30px 0px 30px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
    
            #tablet-car {
                box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
                width: 90%;
                transition: .5s;
    
                &:hover {
                    width: 45%;
                }
            }
    
            p {
                padding: 40px 0;
                width: 100%;
                font-size: 1rem;
                color: $text-color;
                line-height: 25px;
                text-align: justify;
    
                span {
                    @include h1-text;
                    font-weight: 500;
                }
            }
        }
    }
}